<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('信宗教外教专家列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>序号：</label>
                                <input type="text" name="foreignNumber"/>
                            </li>
                            <li>
                                <label>学院：</label>
                                <input type="text" name="foreignCollege"/>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="foreignName"/>
                            </li>
                            <li>
                                <label>性别：</label>
                                <select name="foreignSex" th:with="type=${@dict.getType('sys_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>国家：</label>
                                <input type="text" name="foreignCountry"/>
                            </li>
                            <li class="select-time">
                                <label>生日：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginForeignBirthday]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endForeignBirthday]"/>
                            </li>
                            <li>
                                <label>宗教类型：</label>
                                <input type="text" name="foreignReligion"/>
                            </li>
                            <li>
                                <label>宗教活动场所：</label>
                                <input type="text" name="foreignReligiousServicesFacilities"/>
                            </li>
                            <li>
                                <label>联系方式：</label>
                                <input type="text" name="foreignContactInformation"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="foreignRemarks"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="admin:believers:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="admin:believers:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="admin:believers:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="admin:believers:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('admin:believers:edit')}]];
        var removeFlag = [[${@permission.hasPermi('admin:believers:remove')}]];
        var foreignSexDatas = [[${@dict.getType('sys_user_sex')}]];
        var prefix = ctx + "admin/believers";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "信宗教外教专家",
                pagination: true,
                escape: false,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'foreignNumberId',
                    title: '信宗教外教专家Id',
                    visible: false
                },
                {
                    field: 'foreignNumber',
                    title: '序号'
                },
                {
                    field: 'foreignCollege',
                    title: '学院'
                },
                {
                    field: 'foreignName',
                    title: '姓名'
                },
                {
                    field: 'foreignSex',
                    title: '性别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(foreignSexDatas, value);
                    }
                },
                {
                    field: 'foreignCountry',
                    title: '国家'
                },
                {
                    field: 'foreignBirthday',
                    title: '生日'
                },
                {
                    field: 'foreignReligion',
                    title: '宗教类型'
                },
                {
                    field: 'foreignReligiousServicesFacilities',
                    title: '宗教活动场所'
                },
                {
                    field: 'foreignContactInformation',
                    title: '联系方式'
                },
                {
                    field: 'foreignRemarks',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.foreignNumberId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.foreignNumberId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>