<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('博客展示列表')"/>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>博客标题：</label>
                                <input type="text" name="blogTitle"/>
                            </li>
                            <li>
                                <label>博客类型：</label>
                                <select name="blogType" th:with="type=${@dict.getType('sys_blog_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>博客状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_blog_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建者：</label>
                                <input type="text" name="createBy"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endCreateTime]"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="remark"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="admin:blog:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="admin:blog:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="admin:blog:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="admin:blog:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer"/>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('admin:blog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('admin:blog:remove')}]];
        var blogTypeDatas = [[${@dict.getType('sys_blog_type')}]];
        var statusDatas = [[${@dict.getType('sys_blog_status')}]];
        var prefix = ctx + "admin/blog";

        $(function () {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "博客展示",
                pagination: true,
                escape: false,
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'blogId',
                        title: '博客ID',
                        visible: false
                    },
                    {
                        field: 'blogTitle',
                        title: '博客标题'
                    },
                    {
                        field: 'blogType',
                        title: '博客类型',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(blogTypeDatas, value);
                        }
                    },
                    {
	                    field: 'blogContent',
	                    title: '博客内容',
	                    visible: false

                    },
                    {
                        field: 'blogPicture',
                        title: '博客封面'
                    },
                    {
                        field: 'blogSimple',
                        title: '博客简介'
                    },
                    {
                        field: 'status',
                        title: '博客状态',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(statusDatas, value);
                        }
                    },
                    {
                        field: 'createTime',
                        title: '创建时间'
                    },
                    {
                        field: 'createBy',
                        title: '创建者'
                    },
                    {
                        field: 'updateTime',
                        title: '更新时间'
                    },
                    {
                        field: 'updateBy',
                        title: '更新者'
                    },
                    {
                        field: 'remark',
                        title: '备注'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.blogId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.blogId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>