<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改无党派人士')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-noparty-edit" th:object="${nonParty}">
            <input name="nonPartyId" th:field="*{nonPartyId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">序号：</label>
                <div class="col-sm-8">
                    <input name="nonPartyNumber" th:field="*{nonPartyNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">学院：</label>
                <div class="col-sm-8">
                    <input name="nonPartyCollege" th:field="*{nonPartyCollege}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="nonPartyName" th:field="*{nonPartyName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">籍贯：</label>
                <div class="col-sm-8">
                    <input name="nonPartySex" th:field="*{nonPartySex}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <input name="nonPartyNation" th:field="*{nonPartyNation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">出生年月：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="nonPartyBirthday"
                               th:value="${#dates.format(nonParty.nonPartyBirthday, 'yyyy-MM-dd')}" class="form-control"
                               placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">现任行政职务：</label>
                <div class="col-sm-8">
                    <input name="nonPartyCurrentAdministrativePosition"
                           th:field="*{nonPartyCurrentAdministrativePosition}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">职称：</label>
                <div class="col-sm-8">
                    <input name="nonPartyTitle" th:field="*{nonPartyTitle}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">学历职位：</label>
                <div class="col-sm-8">
                    <input name="nonPartyAcademicDegree" th:field="*{nonPartyAcademicDegree}" class="form-control"
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">毕业院校：</label>
                <div class="col-sm-8">
                    <input name="nonPartyGraduateSchoolMajor" th:field="*{nonPartyGraduateSchoolMajor}"
                           class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系方式：</label>
                <div class="col-sm-8">
                    <input name="nonPartyContactInformation" th:field="*{nonPartyContactInformation}"
                           class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="nonPartyRemarks" th:field="*{nonPartyRemarks}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer"/>
    <th:block th:include="include :: datetimepicker-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "admin/noparty";
        $("#form-noparty-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-noparty-edit').serialize());
            }
        }

        $("input[name='nonPartyBirthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>