<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.platform.believers.mapper.ForeignBelieversMapper">
    
    <resultMap type="ForeignBelievers" id="ForeignBelieversResult">
        <result property="foreignNumberId"    column="foreign_number_id"    />
        <result property="foreignNumber"    column="foreign_number"    />
        <result property="foreignCollege"    column="foreign_college"    />
        <result property="foreignName"    column="foreign_name"    />
        <result property="foreignSex"    column="foreign_sex"    />
        <result property="foreignCountry"    column="foreign_country"    />
        <result property="foreignBirthday"    column="foreign_birthday"    />
        <result property="foreignReligion"    column="foreign_religion"    />
        <result property="foreignReligiousServicesFacilities"    column="foreign_religious_services_facilities"    />
        <result property="foreignContactInformation"    column="foreign_contact_information"    />
        <result property="foreignRemarks"    column="foreign_remarks"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectForeignBelieversVo">
        select foreign_number_id, foreign_number, foreign_college, foreign_name, foreign_sex, foreign_country, foreign_birthday, foreign_religion, foreign_religious_services_facilities, foreign_contact_information, foreign_remarks, create_time, update_time, create_by, update_by from sys_foreign_believers
    </sql>

    <select id="selectForeignBelieversList" parameterType="ForeignBelievers" resultMap="ForeignBelieversResult">
        <include refid="selectForeignBelieversVo"/>
        <where>  
            <if test="foreignNumber != null "> and foreign_number = #{foreignNumber}</if>
            <if test="foreignCollege != null  and foreignCollege != ''"> and foreign_college like concat('%', #{foreignCollege}, '%')</if>
            <if test="foreignName != null  and foreignName != ''"> and foreign_name like concat('%', #{foreignName}, '%')</if>
            <if test="foreignSex != null  and foreignSex != ''"> and foreign_sex = #{foreignSex}</if>
            <if test="foreignCountry != null  and foreignCountry != ''"> and foreign_country like concat('%', #{foreignCountry}, '%')</if>
            <if test="foreignBirthday != null "> and foreign_birthday = #{foreignBirthday}</if>
            <if test="foreignReligion != null  and foreignReligion != ''"> and foreign_religion like concat('%', #{foreignReligion}, '%')</if>
            <if test="foreignReligiousServicesFacilities != null  and foreignReligiousServicesFacilities != ''"> and foreign_religious_services_facilities like concat('%', #{foreignReligiousServicesFacilities}, '%')</if>
            <if test="foreignContactInformation != null  and foreignContactInformation != ''"> and foreign_contact_information like concat('%', #{foreignContactInformation}, '%')</if>
            <if test="foreignRemarks != null  and foreignRemarks != ''"> and foreign_remarks like concat('%', #{foreignRemarks}, '%')</if>
        </where>
    </select>
    
    <select id="selectForeignBelieversById" parameterType="Long" resultMap="ForeignBelieversResult">
        <include refid="selectForeignBelieversVo"/>
        where foreign_number_id = #{foreignNumberId}
    </select>
        
    <insert id="insertForeignBelievers" parameterType="ForeignBelievers" useGeneratedKeys="true" keyProperty="foreignNumberId">
        insert into sys_foreign_believers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foreignNumber != null">foreign_number,</if>
            <if test="foreignCollege != null">foreign_college,</if>
            <if test="foreignName != null">foreign_name,</if>
            <if test="foreignSex != null">foreign_sex,</if>
            <if test="foreignCountry != null">foreign_country,</if>
            <if test="foreignBirthday != null">foreign_birthday,</if>
            <if test="foreignReligion != null">foreign_religion,</if>
            <if test="foreignReligiousServicesFacilities != null">foreign_religious_services_facilities,</if>
            <if test="foreignContactInformation != null">foreign_contact_information,</if>
            <if test="foreignRemarks != null">foreign_remarks,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foreignNumber != null">#{foreignNumber},</if>
            <if test="foreignCollege != null">#{foreignCollege},</if>
            <if test="foreignName != null">#{foreignName},</if>
            <if test="foreignSex != null">#{foreignSex},</if>
            <if test="foreignCountry != null">#{foreignCountry},</if>
            <if test="foreignBirthday != null">#{foreignBirthday},</if>
            <if test="foreignReligion != null">#{foreignReligion},</if>
            <if test="foreignReligiousServicesFacilities != null">#{foreignReligiousServicesFacilities},</if>
            <if test="foreignContactInformation != null">#{foreignContactInformation},</if>
            <if test="foreignRemarks != null">#{foreignRemarks},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateForeignBelievers" parameterType="ForeignBelievers">
        update sys_foreign_believers
        <trim prefix="SET" suffixOverrides=",">
            <if test="foreignNumber != null">foreign_number = #{foreignNumber},</if>
            <if test="foreignCollege != null">foreign_college = #{foreignCollege},</if>
            <if test="foreignName != null">foreign_name = #{foreignName},</if>
            <if test="foreignSex != null">foreign_sex = #{foreignSex},</if>
            <if test="foreignCountry != null">foreign_country = #{foreignCountry},</if>
            <if test="foreignBirthday != null">foreign_birthday = #{foreignBirthday},</if>
            <if test="foreignReligion != null">foreign_religion = #{foreignReligion},</if>
            <if test="foreignReligiousServicesFacilities != null">foreign_religious_services_facilities = #{foreignReligiousServicesFacilities},</if>
            <if test="foreignContactInformation != null">foreign_contact_information = #{foreignContactInformation},</if>
            <if test="foreignRemarks != null">foreign_remarks = #{foreignRemarks},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where foreign_number_id = #{foreignNumberId}
    </update>

    <delete id="deleteForeignBelieversById" parameterType="Long">
        delete from sys_foreign_believers where foreign_number_id = #{foreignNumberId}
    </delete>

    <delete id="deleteForeignBelieversByIds" parameterType="String">
        delete from sys_foreign_believers where foreign_number_id in 
        <foreach item="foreignNumberId" collection="array" open="(" separator="," close=")">
            #{foreignNumberId}
        </foreach>
    </delete>

</mapper>