@charset "utf-8";
/*全局*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,article,textarea{margin:0;padding:0}
body{font-size:12px;color:#666;font-family:"PingFang SC","Microsoft YaHei", Helvetica , BlinkMacSystemFont; min-width:1120px}
table{border-collapse:collapse;border-spacing:0;}
ul,li,dl{list-style:none;list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a{text-decoration:none; color:#333}
img{border:none;}
i{font-style:normal;}
input,select,textarea,button{vertical-align:middle;font-size:100%;outline:none;font-family:"微软雅黑", Arial;}
.slogan{ float:left; margin:0 0 0 10px}

.gray-filter{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
/*字体*/
.ft-songti{font-family:"宋体";}
.ft-yahei{font-family:"微软雅黑";}
.ft-arial{font-family:Arial;}
.ft-tahoma{font-family:Tahoma;}
.ft-verdana{font-family:Verdana;}
.ft-simsun{font-family:Simsun;}
.bold{font-weight:bold;}
.nobold{ font-weight:normal}
.fs-normal{font-style:normal;}
.fs-italic{font-style:italic}
/*链接,下划线*/
.text-under{text-decoration:underline;}
.hui-link,.hui-link:hover{ color:#666;}
/*按钮,表单*/
.btn{display:inline-block;text-align:center;color:#fff;border-radius:4px;}
.btn-disabled{ background:#e4e4e4 !important; border:1px #ccc solid !important; color:#999 !important}
.btn-bg{background:url(../images/btn-bg.gif) repeat-x;}
.btn-bg:hover{background:url(../images/btn-bg-hover.gif) repeat-x;}
.btn-bg01{background:url(../images/btn-bg01.gif) repeat-x;}
.btn-bg02{background:url(../images/btn-bg02.gif) repeat-x;}
.btn-bg02:hover{background:url(../images/btn-bg02.gif) 0 -39px repeat-x;}


.btn-hui,.btn-hui01{background:url(../images/icon.png) 0 -433px repeat-x; color:#666;}
.btn-hui:hover{background:#bfc6cd; border:1px #adb3b8 solid; color:#fff;}

.btn-hui01:hover{background:url(../images/icon.png) 0 -837px repeat-x;}

.textareabox{height:98px;resize:none;outline:none;}

.checkboxpic{display:inline-block;width:14px;height:14px;cursor:pointer; border:1px #ddd solid}
.check-chk{background-position: -1px -310px;}
.cur-pointer{cursor:pointer}

.btn-disabled{ background:#e4e4e4 !important; border:1px #ccc solid !important; color:#999 !important}
/*浮动*/
.clearfix:after {content: ' ';display: block;clear: both;height: 0;visibility: hidden;font-size: 0;line-height: 0;}
.clearfix {zoom: 1;}
.cl{ clear:both;}
.fl{float:left;}
.fr{float:right;}
/* text-align */
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align: left;}
.text-indent-2em{ text-indent:2em}
/*定位*/
.pos-rel{position:relative; }
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}
/*定位居中*/
.pos-center{ position:absolute;left:0;right:0;margin:auto;}
.pos-middle{ position:absolute;top:50%;}
/* display */
.display-ib{display:inline-block;*display:inline;_display:inline;*zoom:1;}
.display-in{display:inline}
.display-no{display: none;}
.display-bl{ display:block;}
.display-box{ display:box;-webkit-display:box;-moz-display:box;}
.display-ta{ display:table;}
/* 基于display: table-cell的自适应布局 */
.dis-cell{display:table-cell;*display:inline-block;*width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell-bk{ display: table; width: 100%;table-layout:fixed; word-wrap: break-word;}
/* white-space 不换行*/
.nowrap { white-space: nowrap; }
/* word-wrap 换行*/
.word-break{ word-wrap: break-word;word-break: break-all;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
/* vertical-align */
.ver-middle{vertical-align: middle;}
.ver-textbottom{vertical-align:text-bottom;}
.ver-bottom{vertical-align:bottom;}
.ver-top{vertical-align:top;}
.ver-1{ vertical-align:-1px;*vertical-align:3px;_vertical-align:0px}
.ver-2{vertical-align:-2px;}
.ver-3{vertical-align:-3px;}
/* overflow */
.over-hidden{overflow:hidden;}
.over-auto{overflow: auto;}
/*圆角*/
.br3{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.br4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.br6{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
.br100{border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;}
/*边框*/
.bd-hui{border:1px solid #ccc;}
.bd-hui01{border:1px solid #ddd}
.bd-hui02{border:1px solid #eaeaea;}
.bd-hui03{border:1px solid #adb3b8;}
.bd-huang{ border:1px solid #e38602;}
.bd-huang01{border:1px solid #e68b02;}
.bt-hui02{border-top:1px #eaeaea solid}
.bt-hui03{border-top:1px #ccc solid}
.bb-hui02{border-bottom:1px #eaeaea solid}
.bd-xu-hui{border:1px #eaeaea dashed}
.bb-xu-hui{border-bottom:1px #eaeaea dashed}
.bd-xu-hui01{border:1px #e5e5e4 dashed}
.bd-red{border:1px #ac1c15 solid}
.bd-lv{ border:1px #639916 solid}
.bd-blue{border:1px #9ce0e1 solid}
.bf-hui02{border-left:1px solid #eaeaea;}
.bb-lv{ border-bottom:2px solid #67ad03;}
.bb-hui01{border-bottom:1px solid #ddd;}
.bd-lan{ border:1px solid #0078b6;}
.bt-none{border-top:none}
.input-bd-none{ border:none; cursor:pointer}
.noborder{ border:0}
.br-l{border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;}
.br-r{border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;}
/*css3过渡动画效果 */
.trans{-webkit-transition: all 0.3s;transition: all 0.3s; -moz-transition: all 0.3s;}
/*三角*/
.icon-barr{ position:relative; top:2px; right:-2px; display:inline-block;width: 0;height:0;line-height: 0;font-size:0;overflow:hidden;border-width:5px;border-style: solid dashed dashed dashed;border-color: #999 transparent transparent transparent;}
.dropdown .icon-barr{border-color: #67ad03 transparent transparent transparent;}
.menu-down{border-color: #a7a7a7 transparent transparent transparent;}
.menu-down:hover{border-color: #0078b6 transparent transparent transparent;}
/* margin */
.m0a{margin:0 auto;}
.mt2{ margin-top:2px;}
.mt4{ margin-top:4px}
.mt6{ margin-top:6px}
.mt8{ margin-top:8px}
.mt10{ margin-top:10px}
.mt12{ margin-top:12px}
.mt14{ margin-top:14px}
.mt16{ margin-top:16px}
.mt19{ margin-top:19px}
.mt20{ margin-top:20px}
.mt22{ margin-top:22px;}
.mt24{ margin-top:24px}
.mt26{ margin-top:26px}
.mt30{ margin-top:30px}
.mt40{ margin-top:40px}
.mt92{ margin-top:92px;}
.mb3{ margin-bottom:3px;}
.mb6{ margin-bottom:6px;}
.mb8{ margin-bottom:8px}
.mb10{ margin-bottom:10px}
.mb14{ margin-bottom:14px}
.mb15{ margin-bottom:15px}

.mb16{ margin-bottom:16px}
.mb18{ margin-bottom:18px}
.mb20{ margin-bottom:20px}
.mb26{ margin-bottom:26px}
.mb30{ margin-bottom:30px}
.mb40{ margin-bottom:40px}
.mb239{ margin-bottom:239px;}
.ml2{ margin-left:2px;}
.ml4{ margin-left:4px}
.ml8{ margin-left:8px}
.ml10{ margin-left:10px}
.ml11{ margin-left:11px;}
.ml12{ margin-left:12px;}
.ml13{ margin-left:13px;}
.ml20{ margin-left:20px}
.ml25{ margin-left:25px;}
.ml26{ margin-left:26px}
.ml30{ margin-left:30px}
.ml34{ margin-left:34px;}
.ml36{ margin-left:36px;}
.ml40{ margin-left:40px}
.ml44{ margin-left:44px;}
.ml-70{ margin-left:-45px}
.mt-5{ margin-top:-5px}
.mt-10{ margin-top:-10px}
.mt-20{ margin-top:-20px}
.mr3{ margin-right:3px}
.mr5{ margin-right:5px}
.mr8{ margin-right:8px}
.mr10{ margin-right:10px}
.mr14{ margin-right:14px}
.mr15{ margin-right:15px}
.mr16{ margin-right:16px}
.mr17{ margin-right:17px}
.mr18{ margin-right:18px}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mt21{ margin-top:21px;}
.mt13{ margin-top:13px;}
.mt27{ margin-top:27px;}
.mt29{ margin-top:29px;}
.mt123{ margin-top:123px;}
.mb350{ margin-bottom:350px}
.ml6{ margin-left:6px;}
.ml7{margin-left:7px;}
.ml59{ margin-left:59px;}
.ml81{ margin-left:81px;}
.ml125{ margin-left:125px;}
/*padding*/
.pl20{ padding-left:20px}
.pl8{ padding-left:8px}
.pr8{ padding-right:8px}
.pr10{ padding-right:10px}
.pr20{ padding-right:20px}
.pr38{ padding-right:38px}
.pr48{ padding-right:48px}
.pl28{ padding-left:28px}
.plr5{ padding-left:5px; padding-right:5px;}
.plr7{ padding-left:7px; padding-right:7px;}
.plr9{ padding-left:9px; padding-right:9px;}
.plr10{ padding-left:10px; padding-right:10px;}
.plr18{ padding-left:18px; padding-right:18px;}
.plr26{ padding-left:26px; padding-right:26px;}
.pl10{ padding-left:10px}
.pl14{ padding-left:14px}
.pl18{ padding-left:18px}
.pl26{ padding-left:26px;}
.pl45{ padding-left:45px;}
.pl60{ padding-left:60px}
.pl70{ padding-left:70px}
.pt3{ padding-top:3px}
.pt4{ padding-top:4px}
.pt5{ padding-top:5px}
.pt6{ padding-top:6px}
.pt8{ padding-top:8px}
.pt10{ padding-top:10px}
.pt12{ padding-top:12px}
.pt15{ padding-top:15px;}
.pt18{ padding-top:18px}
.pt20{ padding-top:20px}
.pt24{ padding-top:24px}
.ptb16{padding-top:16px;padding-bottom:16px;}
.pt26{ padding-top:26px}
.pt30{ padding-top:30px}
.pt36{ padding-top:36px}
.pt60{padding-top:60px}
.pb4{ padding-bottom:4px}
.pb6{ padding-bottom:6px}
.pb8{ padding-bottom:8px}
.pb10{ padding-bottom:10px}
.pb12{ padding-bottom:12px}
.pb14{ padding-bottom:14px}
.pb15{ padding-bottom:15px}
.pb18{ padding-bottom:18px}
.pb20{ padding-bottom:20px}
.pb22{ padding-bottom:22px;}
.pb24{ padding-bottom:24px;}
.pb28{ padding-bottom:28px}
.pb30{ padding-bottom:30px}
.pb40{ padding-bottom:40px}
.pb60{ padding-bottom:60px}
.pb120{ padding-bottom:120px}
.pl40{ padding-left:40px}
.pl50{ padding-left:50px}
.pl95{ padding-left:95px}
.pl104{ padding-left:104px}
.pl113{ padding-left:113px}
.pl124{ padding-left:124px}
.pl160{ padding-left:160px}
.pl170{ padding-left:170px}
.pd30{ padding:30px}
/*背景颜色*/
.bg-hei{ background:#333}
.bg-bai{background:#fff;}
.bg-hui{ background:#fafafa;}
.bg-hui01{ background:#f5f5f5}
.bg-hui02{ background:#bdc4cb;}
.bg-hui03{ background:#eaeaea;}
.bg-hui04{ background:#f9f9f9;}
.bg-hui05{ background:#eaebed;}
.bg-hui06{ background:#eee}
.bg-hui07{ background:#bbb}
.bg-lv,.bg-lv-cur,.bg-lv-cur1{background:#67ad03}
.bg-lv-cur:hover{background:#78c30c; border:1px #67ad03 solid;}
.bg-red,.bg-red-cur{ background:#cb3932}
.bg-red-cur:hover{ background:#ea453d; border:1px #cb3932 solid;}
.bg-huang,.bg-huang-cur,.bg-huang-cur1{ background:#ff9900;}
.bg-huang-cur:hover{ background:#ffaf37;border:1px #ff9e0d solid;}
.bg-huang-cur1:hover{ background:#ffaf37;}
.bg-lv-cur1:hover{ background:#78c30c;}
.bg-blue{ background:#e0edf8;}

/*字体颜色*/
.bai{ color:#fff;}
a.bai,a.bai:hover{ color:#fff;}
.hei{ color:#000;}
.hei01,a.hei01,a.hei01:visited{color:#333}
a.huang,a.huang:hover{color:#ffdd00;}
a.huang01,a.huang01:hover{color:#ff9900;}
.hui,a.hui:hover{ color:#999}
.hui01{color:#747474}
.hui02{color:#ccc}
.hui03{color:#eee}
.hui04{color:#666}
.hui05{color:#ddd}
.hui06{color:#888}
.hui09{color:#999}
.cheng{color:#f0643c}
.red{ color:#ff0000}
.red01{ color:#cb3932}
.blue,a.blue,a.blue:visited{color:#0078b6}
.blue1,a.blue1,a.blue1:visited{color:#0099cc}
.huang{color:#ff9900;}
.lv{ color:#67ad03}
.link01{ color:#333}
.link01:hover{color:#67ad03}
.huang02{color:#ff9900;}
/*字体大小*/
.f0{font-size:0px;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{ font-size:30px;}
.f32{ font-size:32px;}
.f36{ font-size:36px;}
.f60{ font-size:60px;}
/*高度*/
.h1{height: 1px;}
.h12{ height:12px;}
.h20{ height:20px;}
.h22{ height:22px;}
.h24{ height:24px;}
.h26{ height:26px;}
.h28{ height:28px;}
.h30{height:30px;}
.h34{height:34px;}
.h38{height:38px;}
.h39{ height:39px;}
.h40{ height:40px;}
.h48{ height:48px;}
.h50{height: 50px}
.h56{ height: 56px;}
.h60{ height:60px;}
.h80{ height:80px;}
.h100{ height:100px;}
.h126{ height:126px;}
.h238{ height:238px;}
.h395{ height:395px;}
.h560{ height:560px;}
.pct-h100{height:100%;}
.duiqi{margin-bottom:-2400px;padding-bottom:2400px;}
/*行高*/
.lh14{line-height:14px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{ line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh32{line-height:32px;}
.lh34{line-height:34px;}
.lh36{line-height:36px;}
.lh38{line-height:38px;}
.lh40{ line-height:40px;}
.lh44{line-height:44px;}
.lh48{line-height:48px;}
.lh50{line-height: 50px}
/*宽度*/
.w12{width:12px;}
.w20{width:20px;}
.w24{width:24px;}
.w40{ width:40px;}
.w48{width:48px;}
.w50{width:50px;}
.w58{width:58px;}
.w60{ width:60px}
.w66{width:66px;}
.w68{width:68px;}
.w70{width:70px;}
.w78{ width:78px;}
.w80{width:80px;}
.w88{width:88px;}
.w98{width:98px;}
.w100{width:100px;}
.w106{width:106px;}
.w110{ width:110px;}
.w120{width:120px;}
.w128{width:128px;}
.w136{width:136px;}
.w138{ width:138px;}
.w143{ width:143px;}
.w148{width:148px;}
.w150{width:150px;}
.w158{width:158px;}
.w168{width:168px;}
.w170{width:170px;}
.w179{ width:179px;}
.w200{width: 200px}
.w220{ width:220px;}
.w240{ width:240px;}
.w268{ width:268px}
.w278{width:278px;}
.w288{width:288px;}
.w298{width:298px;}
.w200{ width:200px;}
.w221{ width:221px;}
.w263{ width:263px;}
.w300{ width:300px;}
.w318{ width:318px;}
.w320{ width:320px;}
.w322{ width:322px;}
.w348{width:348px;}

.w388{ width:388px;}
.w450{ width:450px;}
.w475{ width:475px;}
.w605{ width:605px;}
.w632{ width:632px;}
.w878{ width:878px;}
.w1000{ width:1000px;}
.pct-w50{width:50%;}
.pct-w100{width:100%;}
/*图片比例*/
.pic80{ width:80px; height:80px}
.pic30{ width:30px; height:30px}
/*背景位移图*/
.sprite-bg{background:url(../images/sprite.png) no-repeat;}
.icon-bg{background:url(../images/icon.png) no-repeat;}
.icon-caozuo{background:url(../images/caozuo.png) no-repeat;}

.ico-exit{background-position:0 -74px; padding-left:17px}
.ico-begin{background-position:right -38px; padding-right:32px; cursor:pointer}
.ico-ts{background-position:20px 8px; padding-left:22px}
.ico-ts01{background-position:-1px 0px; width:14px; height:15px;}

.ico-wen{background-position:0px -22px; padding-left:20px}
.ico-wen01{background-position:0px -20px; padding-left:20px}
.ico-wen-hover{background-position:1px -200px; padding-left:20px}
.ico-arrow{background-position:0px -162px; width:12px; height:24px;}

.ico-point{background-position:-1px -100px; padding-left:20px}

.ico-so{ background:#67ad03 url(../images/icon.png) center -123px no-repeat;}

.ico-edit{background-position:-1px -55px;width:15px; height:15px; overflow:hidden;transition: all .2s ease;}
.ico-edit:hover{background-position:-1px -79px;}

.ico-del-link{background-position:0 -376px;_background-position:0 -374px;padding-left:18px;cursor:pointer}
.ico-del{width:15px; height:15px;background-position:-1px -205px; overflow:hidden;transition: all .2s ease;}
.ico-del:hover{background-position:-1px -229px;}

.ico-preview{width:12px; height:16px;background-position:-1px -156px; overflow:hidden;transition: all .2s ease;}
.ico-preview:hover{background-position:-1px -178px;}


.ico-hide-link{background-position:0 -538px;_background-position:0 -536px;padding-left:18px;cursor:pointer}
.ico-show-link{background-position:0 -489px;_background-position:0 -487px;padding-left:18px;cursor:pointer;}

.ico-add-link{background-position:0 -585px;padding-left:20px;cursor:pointer; display:inline-block;}
.ico-set-link{background-position:0 -610px;padding-left:20px;cursor:pointer; display:inline-block;}

.btn-hui:hover .ico-del-link{background-position:0 -466px;}
.btn-hui:hover .ico-hide-link{background-position:0 -561px;}
.btn-hui:hover .ico-show-link{background-position:0 -513px;}

.btn-delete:hover .ico-del-link{color:#fff}
.icon-back{background-position:0 -810px;padding-left: 18px;cursor: pointer;}

.ico-jiami{background-position:0 -928px;padding-left:19px;cursor:pointer; display:inline-block;}

.ico-del01{background-position:0 -975px;padding-left:19px;cursor:pointer; display:inline-block;}

.ico-unbund{background-position:0px -1001px;width:14px; height:14px; overflow:hidden;transition: all .2s ease;}
.ico-unbund:hover{background-position:0px -1022px;}

/*邀请*/
.ico-yaoq{background-position:-1px -1px;width:15px; height:16px; overflow:hidden;transition: all .2s ease;}
.ico-yaoq:hover{background-position:-1px -28px;}

/*排序*/
.ico-paixu{background-position:-1px -104px;width:15px; height:15px; overflow:hidden;transition: all .2s ease;}
.ico-paixu:hover{background-position:-1px -130px;}

/*头部*/
.logo{margin-top:10px;}
.parent-box{width:100%;height:100%;position:relative;}
.part{width:100%;height:100%;position: absolute;top: 0;left:0;background:#fff;}
.header {width: 100%;height:69px;border-bottom: 1px #eaeaea solid;background:#fafafa; position: fixed;top: 0;left: 0;z-index: 2000;}
.header .logo{margin:10px 0 0 0; width:260px; overflow:hidden; float:left}
.header .logo a{ float:left}
.logo h1{text-indent: -9999em;height: 0;overflow: hidden;}
.top-nav{ margin-right:2%; float:right}
.top-nav ul{ float:left}
.top-nav li{float:left; padding:0 17px;font-size:18px;position: relative;zoom: 1;text-align:center}
.top-nav li a{display:block;padding-top:23px;height:45px;color:#333;}
.top-nav li.active a,.top-nav li a:hover{padding-top:23px; height:45px;position:relative;color:#FF8313;}

.top-bg{background:url(../images/top-bg.gif) repeat-x;}
.sef{border-bottom: 4px #67ad03 solid;padding-top: 25px;height: 43px !important;margin-bottom: -1px;position: relative;color: #73ae1f;}
/*用户导航*/
.user-nav{ margin:30px 0 0; overflow:hidden}
.user-nav li{float:left; font-size:18px}
.user-nav a{ padding:0 26px; margin:1px;float:left; display:block; height:40px; line-height:38px; }
.user-nav a.cur{ background:#67ad03;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; color:#fff}
/*用户菜单*/
.cont-l{ width:239px;}
.cont-l01{ width:120px;}

.mymenu .dian{padding-left:20px;background:url(../images/icon.png) no-repeat;background-position:0 -275px}
.mymenu .menu01 a:hover{ color:#67ad03}
.mymenu li{position:relative}
.mymenu .cur{background:#f5f5f5;border-top:1px #eaeaea solid; border-bottom:1px #eaeaea solid;color:#67ad03;position:relative;line-height:38px; height:38px;zoom:1;}
.mymenu .cur h3{border-left:4px #67ad03 solid; padding-left:16px}
.mymenu .cur a,.mymenu .cur a:visited{ color:#67ad03}
.arrow-r{ position:absolute;right:-1px;_right:-2px;top:14px; width:8px; height:14px;background:url(../images/arrow-r.gif) 0 0 no-repeat; display:none}

.menu01 li{height:40px; line-height:40px;font-size:14px; position:relative}
.menu01 li a{ display:block;transition:background .3s ease-in;}
.menu01 li p{ padding-left:54px;display:block}
.menu01 .cur,.menu01 li a:hover{ background:#f5f5f5;border-top:1px #eaeaea solid; border-bottom:1px #eaeaea solid;position:relative;line-height:38px; height:38px;zoom:1; z-index:100}
.menu01 li a:hover p,.menu01 .cur p{border-left:4px #67ad03 solid;padding-left:50px;}
.mymenu .cur .arrow-r,.menu01 .cur .arrow-r,.menu01 li a:hover .arrow-r{display:block}

/*用户主体*/
.cont-r{ width:758px; border-left:1px #eaeaea solid}
.mytable th{ font-size:14px; line-height:38px; background:#f5f5f5;border-top:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
.mytable td{height:40px; line-height:38px}
.operate{ display:none}

.cont-r01{ width:638px; border-left:1px #eaeaea solid}


/*二维码*/
.erweima{width:180px;height:240px; background:#fff; border:1px #eaeaea solid; text-align:center; position:fixed;top:320px;right:10px;
    _position:absolute;_bottom:auto;_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight-200);z-index:999}
/*选择或输入框*/
.selectbox{height:28px;line-height:28px;cursor:pointer;}
.selectbox-ico{background: url(../images/icon.png) right -662px no-repeat;}
.inp-error{background:#feedec; border:1px #cb3932 solid; color:#cb3932}
.sellist{position:absolute;border:1px solid #eaeaea;z-index:999;left:0; top:28px;display: none;background:#fff;}
.w196{width:196px}
.w198{width:198px}
.h210{ height:210px}
.sellist li{font-size:14px;height:30px;line-height:29px; text-align:center;overflow:hidden;cursor:pointer;}
.sellist li a{ display:block; color:#333}
.sellist li a:hover{background:#f5f5f5;}
::-webkit-input-placeholder { /* WebKit browsers */color: #ccc;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#ccc;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#ccc;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#ccc;}
/*公用标题*/
.tit-bg{background:url(../images/tit-bg.gif) repeat-x;}
.tit-cheng{border-left:3px #ff9900 solid; width:3px; height:14px; overflow:hidden}

/*版权*/
.footer{ padding:32px 0 50px 0;}
.footer01{ padding:26px 0;}
/*翻页*/
.pagination{margin:0 0 20px; overflow:hidden;line-height:30px;}
.pagination a,.pagination span{height:30px; line-height:30px;margin:0 0 0 1px; float:left;padding:0 12px; color:#666; background:#f5f5f5;-webkit-transition: .2s;-moz-transition: .2s;transition: .2s;}
.pagination a:hover,.pagination span:hover{background:#67ad03; color:#fff;-webkit-transition: .2s;-moz-transition: .2s;transition: .2s;}
.pagination a.current,.pagination span.current{background:#bdc4cb; color:#fff;cursor:pointer;}
.pagination span.disabled{ background:#f5f5f5; color:#ccc}
/*弹窗*/
.w500{width:500px;}
.w520{width:520px;}
.w530{width:530px;}
.w540{width:540px;}
.w560{width:560px;}
.w360{width:360px;}
.w370{width:370px;}
.w660{width:660px;}
.ico-line{background-position:0 -229px; width:1px; height:30px;}
.ico-close{background-position:-1px -264px; width:11px; height:11px;}
.pop-up{position:relative;display:none; z-index:9999;-moz-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);
    -webkit-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);box-shadow: 0px 1px 6px rgba(3,3,3,0.3);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.pop-up .close{ margin:6px 10px 0 0; display:inline-block; float:right}
.pop-up01{ position:absolute; right:0; top:-580px;z-index:9999;-moz-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);
    -webkit-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);box-shadow: 0px 1px 6px rgba(3,3,3,0.3);}
.shenqing-pop{ position:absolute;top:360px;left:50%;margin-left:-180px;z-index:9999;-moz-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);
    -webkit-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);box-shadow: 0px 1px 6px rgba(3,3,3,0.3);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.black-bg{background-color:#000; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;}
.wap-bg{ width:361px; height:574px;background:url(../images/wap-bg.png) no-repeat;}
.wap-cont{ width:320px; height:334px; margin:137px 0 0 22px; background:#fff}
/*上传*/
.inputfile01{width:260px;height:30px; position:absolute; top:0; left:0; opacity:0;filter: alpha(opacity:0);font-size:100px;}
/*用户后台弹框*/
.parents{ position:relative;height:auto!important; height:655px; min-height:655px;}
.user-pop{width:450px;top:2%; border:5px solid #eaeaea;-moz-box-shadow: 0px 1px 15px #eaeaea;-webkit-box-shadow: 0px 1px 15px #eaeaea;box-shadow: 0px 1px 15px #eaeaea;z-index:999;}
.user-poppd{padding:20px 30px 31px 30px;}
.neirong-pop{width:590px;}
.popCreatepd{padding:9px 15px 19px 15px;}
.popPicpd{ padding:40px 50px;}
/*1013新增公用样式*/
.ml9{ margin-left:9px}
.ml15{ margin-left:15px}
.bb-hui{ border-bottom:1px #ccc solid}
.plr39{ padding:0 39px;}
.plr40{ padding-left:40px; padding-right:40px;}
.ptb20{padding-top:20px; padding-bottom:20px;}
.w398{ width:398px}
.w871{ width:871px}
.bs-bb{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;-o-box-sizing: border-box; box-sizing:border-box;}
.bl-lv{border-left:4px #67ad03 solid; line-height:18px; overflow:hidden}

#nav-l li.cur a,#nav-l li a:hover{background:#67ad03; color:#fff; font-weight:bold;}
#nav-l li i{vertical-align:-3px;display:inline-block}
/*新增移入框*/
.tishi-arrow{position:absolute;right:45px;top:-20px; width:250px; display:none}
.arrow-r1{position:relative;top:22px;left:-15px; width:10px; height:17px;background:url(../images/arrow-r1.gif) no-repeat;}
/*2014.10.15新增公用*/
.bg-hui08{ background:#999;}
.bg-hui09{ background:#ccc;}
.ver3{vertical-align:3px;}
.ml-1{ margin-left: -1px; }
.bd-huang02{ border:1px #ff9900 solid}

/*小图标*/
.icon-bg1{background:url(../images/caozuo1.png) no-repeat;}
.ico-look{background-position:-1px -22px;width:18px; height:10px;}
.ico-love{background-position:-28px -22px;width:18px; height:16px;}
.ico-pl{background-position:-57px -22px;width:18px; height:16px;}
.ico-z{background-position:-83px 0px;width:18px; height:18px;}
.ico-sc{background-position:-111px 1px;width:14px; height:14px;}
.ico-tp{background-position:-83px -23px;width:18px; height:14px;}
.ico-edit1{background-position:-108px -21px;width:18px; height:17px;}
.ico-del1{background-position:-136px 0;width:15px; height:18px;}
.apply-tit03{ background-image:url(../images/arrow3.png);background-repeat:no-repeat;}
.template {
    display: block;
    width: 150px;
    position: relative;
}
.close-btn:after {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    background: url('../images/close.gif') no-repeat 0 0;
    position: absolute;
    z-index: 9px;
    right: -10px;
    top: -10px;
    cursor: pointer;
}
.template + .template {
    margin-top: 22px;
}
.template .row {

}
.template .row + .row {
    margin-top: 1px;
}

.template a {
    display: block;
    position: relative;
}
.template a.plus:hover:after {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background: url('../images/template-status.png') no-repeat 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.plus-after{display: block;height: 16px;width: 16px;background: url('../images/template-status.png') no-repeat 0 0;position: absolute;right: 0;bottom: 0;}
.right-after{display: block;
    height: 16px;
    width: 16px;
    background: url('../images/template-status.png') no-repeat 0 -16px;
    position: absolute;
    right: 0;
    bottom: 0;}
.template a.right:hover:after,.right-ico{
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background: url('../images/template-status.png') no-repeat 0 -16px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.template .t-large {
    width: 150px;
    height: 85px;
    background: url('../images/template-7.png') no-repeat 0 0;
}
.template .t-middle {
    width: 150px;
    height: 40px;
    background: url('../images/template-6.png') no-repeat 0 0;
}
.template .t-small {
    height: 40px;
    width: 75px;
    background: url('../images/template-8.png') no-repeat 0 0;
    float: left;
}
.template .t-small + .t-small {
    width: 74px;
    margin-left: 1px;
}
.template .row:before,
.template .row:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.template .row:after {clear: both;}
.template .row {zoom: 1;} /* IE < 8 */
/*2014.10.23新公用样式*/
.hui07{color:#a0a0a0}
.lh55{ line-height:55px}
/*新头部*/
.hnav {height:55px; line-height:55px;float: right;padding-right:10px}
.hnav li {height:55px;float: left; color:#fff; font-size:14px}
.hnav li a {padding: 0 20px;display: block;color: #fff;font-size: 14px;transition:all ease-out .3s;}
.hnav li a:hover,.hnav li a.active{background-color:#2e3339;color:#67ad03;}
.ico-exit01{background: url('../images/exit.png') no-repeat 0 0; width:14px; height:14px}
/*2014.10.24新公用样式*/
.f48{ font-size:48px}
.cont-pd{padding:240px 0 355px 221px}
.page, .page *, .extend, .extend * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.ffa{ font-family: Arial;}
.nav-float{position: fixed; right: 40px;bottom:24.5%;z-index: 1000; }
.nav-float li{ width: 48px; margin-top: 10px;}
.nav-float li:first-child{ margin-top: 0;}
/*.nav-float li .nav-content{background-color:rgba(0, 0, 0, 0.4); background-color:#000\9;filter:alpha(opacity=50);}
.nav-float li .nav-icon:hover{background-color: #67ad03;}*/

.banner .link { background-image: linear-gradient(-270deg, #F76B1C 0%, #FBDA61 100%);}
/* 浮动li颜色 */
.nav-float li .nav-content{ background-color: rgba(0,0,0,0.3);}
.nav-float li .nav-icon:hover{background-color: #FF8313;}
.fontorange{color: #FF8313;}
.free-pop .bgorange{background-color:#FF8313 ;}
/* 浮动li颜色end */

.nav-icon{background: url("../images/i-float.png") no-repeat;}
.nav-iconcontent{ height: 48px;}
.li01:hover .erwei-pop,.li02:hover .erwei-pop,.li04:hover .call-pop,.li05:hover .back-top{ display: block;}
.nav-icon01{background-position:10px 10px;}
.nav-icon02{background-position:10px -79px;}
.nav-icon03{ background-position:10px -144px;}
.nav-icon04{ background-position:10px -207px;}
.nav-icon05{ background-position:10px -263px; cursor:pointer}
.call-pop{position:absolute;width:164px;background-color: #fff;right:66px;top:-18px;border: 1px solid #ccc; padding-bottom: 17px;}
.free-pop-arrow:after{content:" ";width: 10px;height: 12px;background: url("../images/free-pop-arrow.png") no-repeat;top:50%; margin-top:-6px;right:-10px; position: absolute;}
.hei04{color:#333;}
.hei05{color: #000;}
.lv04{ color: #67ad03;}
.mt5{ margin-top: 5px;}

.free-pop{ position: absolute; width: 267px; background-color:#fff;right:66px;top: -34px;border: 1px solid #ccc; padding-bottom: 20px;}

.free-pop .free-close{ position: absolute; top: 10px;right: 10px; cursor:pointer}
.nav-input{ width: 218px; height: 34px;border: 1px solid #ddd; margin: 18px auto 0; background: url("../images/i-input.png") no-repeat;background-position:9px 5px;}
.nav-input input::-webkit-input-placeholder { /* WebKit browsers */color: #999;}
.nav-input input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#999;}
.nav-input input::-moz-placeholder { /* Mozilla Firefox 19+ */color:#999;}
.nav-input input:-ms-input-placeholder { /* Internet Explorer 10+ */color:#999;}

.nav-input02{ background: url("../images/i-input.png") no-repeat; background-position: 11px -40px; margin-top: 10px;}
.nav-input input{ margin-left: 33px; border: 0; height: 34px; line-height: 34px; font-size: 12px;}
.free-pop a{ display: block; width: 220px; height: 36px; background-color: #67ad03; line-height: 36px; margin:20px 0 0 20px; font-size: 14px; color: #fff; text-align: center;}

.erwei-pop{position:absolute;background-color:#fff;right:66px;top:-73px;border: 1px solid #ccc; padding: 20px;}
.back-top{position: absolute; width: 96px; height: 52px; line-height: 52px; background-color: #fff;border: 1px solid #ccc;right:66px;top: -2px; font-size: 14px; text-align: center;}
.back-top-arrow{}

/*2014.11.11新公用样式*/
.bg-hui10{ background:#f2f1f1}
.bg-huang01{ background:#ffaf25}
/*2014.11.13新公用样式*/
.lv01{ color:#99ca63}
.lv02{ color:#67ccb3}
.blue01{color:#71b6e1}
.zi{ color:#b9a7e6}
.red02{ color:#e6a0c8}
.red03{ color:#ed7a7a}
.red04{ color:#f99e8c}
.huang03{ color:#fbad6d}
/*2014.11.26新增公用*/
.icon-barr-up{border-width:5px;border-style:dashed dashed solid  dashed;border-color: transparent transparent  #999 transparent;top:-3px}
.cont-r02{ width:757px; border-left:1px #eaeaea solid}
.lef-menu a{color:#333; font-size:14px;line-height:40px; display:block; text-align:center; position:relative}
.lef-menu .cur{background:#eee;}
.ico-arrowr2{background: url(../images/arrow-r2.png) no-repeat;width:6px; height:10px; position:absolute;right:10px;top:15px; display:none}
.lef-menu .cur .ico-arrowr2{ display:block}
/* 窗口关闭按钮 */
.win-close {display:block; float: right; width:20px; height:20px; text-align: center; background: #dddddd; color: #FFFFFF; line-height: 1.1em; font-size: 15px; vertical-align: middle; cursor: pointer;}
.win-close:hover{background: #67ad03; -webkit-transition:.3s; transition:.3s; }
/*2014.11.28新增公用*/
.m-w123 {min-width: 123px;}
.m-w140 {min-width: 140px;}
/*2014.12.8新增*/
.mytable02 th{ font-size:14px; line-height:38px; background:#f5f5f5; color:#666}
.mytable02 td{ padding:10px 0}
.ico-ditu{ background:url(../images/ditu.png) no-repeat; width:19px; height:22px;}
.ico-ditu:hover{ background:url(../images/ditu.png) 0 -26px no-repeat;-webkit-transition:.3s; transition:.3s;}
/*2014.12.15新增*/
.pos-tp0{position:absolute;left:0;top:0px}
.w322{ width:322px}
/*新增图标*/
.ico-fenxi{background-position:-1px -253px;width:18px; height:19px; overflow:hidden;transition: all .2s ease;}
.ico-fenxi:hover{background-position:-1px -277px;}
.ico-look1{background-position:-134px -25px;width:20px; height:11px;}
/*新增鼠标选中*/
.selectd-pic li{ float:left;}
.selectd-pic li img{ display:block}
.selectd-pic li a{display:block; margin:0 0 10px 10px}
.selectd-pic li a:hover,.selectd-pic li a.cur{border:2px #e68b02 solid;  margin:-2px -2px 8px 8px}
/*小翻页*/
.scott a {padding:2px 6px; color: #67ad03;text-decoration: none}
.scott a:hover {background:#67ad03; color:#fff}
.scott span.current {padding:2px 6px; color:#fff;background: #bdc4cb}
/*加载中*/
.loading-done{position:absolute;top:24%;left: 50%;margin-left:-52px;}
/*新版权*/

.bd-lv01{ border:1px #67ad03 solid}
.blue02{ color:#7dc8e6}
.lv03{ color:#79cd00}
.hui11{ color:#bcc1c4}
.w218{ width:218px}
.footer02{height:50px;}
.footer02 li{ color:#bbb; font-size:14px; line-height:24px; float:left}
.footer02 li h3{ color: #ccc; font-weight: normal; font-size: 16px; padding-bottom: 20px}
.footer02 li a{ color: #888; font-size: 14px}
.footer02 .li1{ width:155px; padding-left:5px}
.footer02 .li1 p,.footer02 .li2 p{ padding-bottom:6px}

.footer02 .title{ font-size:18px; color:#fff; padding-bottom:24px}
.footer02 .li2{ width:180px;}
.footer02 .li3{ width:340px;}
.footer02 .tell{ padding:5px 0 34px; font-size:30px; color: #888}
.footer02 .li4{ width:160px;}
.footer02 .li4 .title{ padding-bottom:20px}
.footer02 .qq{width:152px;height:32px;line-height:32px; text-align:center; font-size:14px;background:#ff9900; display:inline-block; color:#fff}

.footer02 .copyright{ background: #1e1e1e; position: absolute; color:#888;font-size:14px;bottom:0;left: 0; width: 100%; text-align: center; line-height: 60px;}
.footer02-cont{ width: 1000px; margin: 0 auto; padding-top: 77px; padding-bottom:40px}
.footer02 .yqlink{border-top:1px #444445 solid; padding:30px 0 0;width: 1000px;margin: 0 auto;}
.footer02 .yqlink dt{ float:left; width:92px; color:#ccc; font-size:16px}
.footer02 .yqlink dd{ overflow:hidden}
.footer02 .yqlink dd a{ color:#888; font-size:14px; margin-right:25px}
/*体验按钮*/
.tiyan-btn{ width:140px; height:40px; line-height:40px; text-align:center;background:#67ad03; color:#fff; font-size:18px; margin-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;transition:background 0.5s ease-out;-moz-transition:background 0.5s ease-out;-webkit-transition:background 0.5s ease-out;}
.tiyan-btn:hover{background:#78c30c;}

/*系统公告*/
.user-poppd1{padding:18px 25px 0}
.notice-layer h2{ text-align:center; position:relative; border-bottom:1px #ccc solid; padding-bottom:10px; color:#333; font-size:18px}
.notice-layer .close{ position:absolute;right:0;top:4px;width: 20px;height: 20px; line-height:17px;text-align: center;background: #dddddd;color:#fff;font-weight:normal;font-size: 16px;vertical-align: middle;cursor: pointer; font-family:Arial, Helvetica, sans-serif}
.notice-layer .close:hover{background: #67ad03;-webkit-transition: .3s;transition: .3s;}
.notice-layer .back{ position:absolute;left:0;top:6px;}
.notice-list{ border-bottom:1px #ccc solid}
.notice-list li{ line-height:48px; border-bottom:1px #eee solid}
.notice-list li:last-child{ border-bottom:0}
.notice-list li a{ display:inline-block;}
.notice-list li a:visited{ color:#999}
.notice-list li .date{ color:#ccc; float:right}

.notice-xx{ height:530px; color:#333; margin-bottom:15px; padding:12px 0;overflow-y:auto}
.notice-xx img{max-width:520px}



.ico-notice{background: url('../images/notice.png') no-repeat; width:19px; height:16px; position:relative}
.ico-notice .qipao{position: absolute;right:-4px;top: -4px;width:8px;height:8px; color:#fff;line-height:8px;background: url('../images/qipao.png') no-repeat; text-align: center;}


.message{ display:none}
.message-cur1 input,.message-cur2 input,.message-cur3 input{ border:1px #ff5050 solid}
.message-cur1 .message,.message-cur2 .message,.message-cur3 .message{color:#ff5050; display:block; line-height:22px; margin-left:30px; font-size:12px; padding-left:10px}
.message-cur1 .message-r{ margin-left:80px}
.message-cur2 .message-r{ margin-left:100px}
.message-cur3 .message-r{ margin-left:120px}


.lightbtn{border:1px #ff9901 solid; background:#fff6e8; color:#ff9901}
.lightbtn:hover{ background:#ff9901; border:1px #e68b03 solid; color:#fff}

/*浮层导航*/
.nav-float li{
    width:40px;
}
.nav-icon01 {
    background: url(../images/icon_chat.svg) no-repeat;
    background-position: center center;
}
.nav-icon02{
    background: url(../fonts/icon_wechat.svg) no-repeat;
}
.nav-icon03{
    background: url(../fonts/icon_try.svg) no-repeat;
}
.nav-icon04{
    background: url(../fonts/icon_call.svg) no-repeat;
}
.nav-iconcontent{
		width: 40px;
    height:40px;
    box-sizing: border-box;
    background-position: center center;
    border-radius: 50%;
}
.nav-iconcontent1{
    width: 40px;
    height: 146px;
    box-sizing: border-box;
    background-position: center 15px;
    border-radius:30px;
    background-color: #ff8313 !important;
}
.margin-top {
    padding-top: 50px;
}
.nav-icon05{
    background: url(../images/icon_top.png) no-repeat center;
    height:60px;
}
.nav-float .free-pop-arrow{
    border:none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    right:60px;
}
.free-pop-arrow:after{
    background:url(../images/arrowr.png) no-repeat;
}

.header .logo{margin:18px 0 0 30px; width:300px; overflow:hidden; float:left}
.nav-float .erwei-pop{
    padding-bottom: 10px;
}

@-webkit-keyframes FadeInb3{0%{opacity:0;-webkit-transform:translateY(-30px);}100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes FadeInb3{0%{opacity:0;-moz-transform:translateY(-30px);}100%{opacity:1;-moz-transform:translateY(0);}}
@keyframes FadeInb3{0%{opacity:0;transform:translateY(-30px);}100%{opacity:1;transform:translateY(0);}}

.core-list li .application-cz {
    position: absolute;
    right: 0;
    display: none;
    top: -32px;
    -webkit-animation: FadeInb3 0.4s ease-in-out forwards;
    -moz-animation: FadeInb 0.4s ease-in-out forwards;
    animation: FadeInb3 0.4s ease-in-out forwards;
}
.fws{ width:110px; border-left:1px #ddd solid; float:left; margin:7px 0 0 15px; padding-left:15px}
/*导航上按钮*/
.btn-success,
.btn-green-gra{
    background-image: linear-gradient(90deg, #A7D660 -50%, #69AB1F 100%);
    cursor: pointer;
}
.btn-yellow-gra{
    background-image: linear-gradient(90deg, #FFD246 -50%, #FF8E3E 100%);
    cursor: pointer;
}
.btn-error{
    background-image: linear-gradient(90deg, #FF9D6A -50%, #FF4E4E 100%);
    cursor: pointer;
}
/*头部按钮*/
.top-btn-defult,.top-btn-defult:hover,.top-btn-primary,.top-btn-primary:hover{ margin-left:10px;display:inline-block; font-size:14px;text-align:center;width:94px;height:34px;line-height:36px;border-radius: 4px}
.top-btn-defult{background:#fff;border:1px #FF8313 solid;color:rgba(255,131,19,1);}
.top-btn-defult:hover {background: rgba(255,131,19,1);color: #fff;box-shadow: 0 5px 10px 0 rgba(255,131,19,0.3);}
.top-btn-primary{background:rgba(255,131,19,1);color:#fff; border:1px #FF8313 solid}
.top-btn-primary:hover{box-shadow: 0 5px 10px 0 rgba(255,131,19,0.3);}

/*.footerbox { width: 1000px; margin: 0 auto; font-size: 14px; color: #888; }*/
/*.footerbox .cont { padding: 60px 0; }*/
/*.footerbox .cont li { width: 154px; float: left; position: relative; }*/
/*.footerbox .cont li.li3 { width: 442px; }*/
/*.footerbox .cont li.li4 { width: 160px; float: right; }*/
/*.footerbox .cont li h3 { padding-bottom: 40px; font-size: 16px; color: #CCC; font-weight: normal; }*/
/*.footerbox .cont li p { padding-bottom: 20px; }*/
/*.footerbox .service { position: absolute; top: 55px; right: 0; }*/
/*.footerbox a { font-size: 14px; color: #888; }*/
/*.footerbox a.qq { display: inline-block; padding: 0 21px; background: #FF8313; line-height: 32px; font-size: 14px; color: #fff; }*/
/*.footerbox .qrimg { padding: 5px 5px 2px !important; width: 90px; margin: 0 auto;overflow: hidden; background-color: #fff; }*/
/*.footerbox .qrimg img {width: 90px;}*/
/*.footerbox .qrtit { padding: 12px 0 0; color: #ccc; }*/
/*.copyright { border-top: 1px solid rgba(255,255,255,0.1); text-align: center; line-height: 80px;}*/
.footerbox { width: 1000px; margin: 0 auto; font-size: 14px; color: #999; }
.footerbox .cont { padding: 60px 0 32px; }
.footerbox .cont li { width: 154px; float: left; position: relative; }
.footerbox .cont li.li3 { width: 442px; }
.footerbox .cont li.li4 { margin-top: 55px;float: right; }
.footerbox .cont li h3 { padding-bottom: 37px; font-size: 16px; color: #ddd; font-weight: normal; line-height: 22px;}
.footerbox .cont li p { padding-bottom: 20px; line-height: 20px;}
.footerbox .service { position: absolute; top: 52px; right: 0; }
.footerbox a { font-size: 14px; color: #999; }
.footerbox a.qq { display: inline-block; padding: 0 21px; background: #FF8313; line-height: 32px; font-size: 14px; color: #fff; }
.footerbox a.qq img {width: 15px; height: 18px; margin-bottom: 4px;}
.footerbox .qrimg { padding: 5px 5px 2px !important; width: 90px; margin: 0 auto;overflow: hidden; background-color: #fff; }
.footerbox .qrimg img {width: 90px;}
.footerbox .qrtit { padding: 22px 0 0; color: #999;text-align: center }
.copyright { border-top: 1px solid rgba(255,255,255,0.1); text-align: center; line-height: 80px; color: #999;}