<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增主页介绍板块')"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mainInfo-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">主页介绍博客Id：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="blogId" value="" required>
                        <label th:for="blogId" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer"/>
    <script th:inline="javascript">
        var prefix = ctx + "admin/mainInfo"
        $("#form-mainInfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-mainInfo-add').serialize());
            }
        }
    </script>
</body>
</html>