<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="web/webinclude :: header('盐途之声')" />
</head>

<body>
	<div class="header" id="ban">
		<div class="container">
			<div class="head-left">
				<div class="header-search">
					<div class="search">
						<input class="search_box" type="checkbox" id="search_box">
						<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
								aria-hidden="true"></span></label>
						<div class="search_form">
							<form action="#" method="post">
								<input type="text" name="Search" placeholder="搜索...">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;"><input type="submit" value="发送"></font>
								</font>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="header_right">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">切换导航</font>
								</font>
							</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div th:include="web/webinclude :: nav" ></div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
				<ul>
					<li><a href="#"> </a></li>
					<li><a href="#" class="pin"> </a></li>
					<li><a href="#" class="in"> </a></li>
					<li><a href="#" class="be"> </a></li>

					<li><a href="#" class="vimeo"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--start-main-->
	<div th:include="web/webinclude :: title" ></div>
	<!-- banner -->

	<div class="banner-1">

	</div>

	<!-- technology-left -->
	<div class="technology">
		<div class="container">
			<div class="col-md-9 technology-left">
				<div class="gallery" id="gallery">

					<h2 class="w3">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">时尚</font>
						</font>
					</h2>
					<p>
						生活资讯全方位，消费服务零距离。
					</p>
					<div class="gallery-grids">
						<div class="gallery-grid" th:each="item,iterStat : ${blogs}">
							<a href="images/g1.jpg" th:href="@{'/web/singlepage?blogId='+${{item.blogId}}}"
							   class="wow fadeInUp animated animated" data-wow-delay=".5s"
							   style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
								<img src="images/g1.jpg" th:src="${{item.blogPicture}}" alt=" "
									 class="img-responsive zoom-img">
							</a>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
			</div>
			<!-- technology-right -->
			<div class="col-md-3 technology-right">


				<div class="blo-top1">

					<div class="tech-btm">
						<div class="search-1">
							<form action="#" method="post">
								<input type="search" name="Search" value="Search" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Search';}" required="">
								<input type="submit" value=" ">
							</form>
						</div>
						<h4>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">热门帖子 </font>
							</font>
						</h4>
						<!--右最近编辑-->
						<div th:include="web/webinclude :: right-top"></div>
						<div th:include="web/webinclude :: right-button"></div>

						<p>
							新闻热点都只是媒体制造的，众人只是受愚跟风围观幸乐的对象。
						</p>

					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- technology-right -->
		</div>
	</div>


	<div th:include="web/webinclude :: footer"></div>

	<div th:include="web/webinclude :: copyright"></div>

</body>

</html>