<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="web/webinclude :: header('盐途之声')"/>
</head>

<body>
    <div class="header" id="ban">
        <div class="container">
            <div class="head-left">
                <div class="header-search">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
                                                                          aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="text" name="Search" placeholder="Search...">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><input type="submit" value="发送"></font>
                                </font>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_right">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div th:include="web/webinclude :: nav"></div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>

                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--start-main-->
    <div th:include="web/webinclude :: title"></div>
    <!-- banner -->

    <div class="banner-1">

    </div>

    <!-- technology-left -->
    <div class="technology">
        <div class="container">
            <div class="col-md-9 technology-left">
                <div class="agile-1">
                    <div class="featured-services">
                        <h2 class="w3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">特征</font>
                            </font>
                        </h2>
                        <div class="featured-services-grids">
                            <div class="col-md-4 featured-services-grid">
                                <div class="featured-services-grd">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <h4>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">新闻中心</font>
                                        </font>
                                    </h4>
                                    <p>

                                    </p>

                                </div>
                            </div>
                            <div class="col-md-4 featured-services-grid">
                                <div class="featured-services-grd">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    <h4>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">视频点播</font>
                                        </font>
                                    </h4>
                                    <p>

                                    </p>

                                </div>
                            </div>
                            <div class="col-md-4 featured-services-grid">
                                <div class="featured-services-grd">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    <h4>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">广电总台</font>
                                        </font>
                                    </h4>
                                    <p>
                                    </p>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="features-main">
                        <div class="fea-top">
                            <h3 class="w3">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">社会新闻</font>
                                </font>
                            </h3>
                            <p>
                                要是让广告控制了新闻的话，就再也没办法让每个人知道真相了。
                            </p>
                        </div>

                        <div>
                            <div class="feature-botttom" th:each="item,iterStat : ${blogs}">
                                <div class="col-md-6 fea-grid">
                                    <div class="fea-img">
                                        <a href="" th:href="@{'/web/singlepage?blogId='+${{item.blogId}}}"><img
                                                src="images/f1.jpg" th:src="${{item.blogPicture}}" alt=""></a>
                                    </div>
                                    <div class="fea-text">
                                        <h4>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"
                                                      th:text="${{item.blogTitle}}">错误坐</font>
                                            </font>
                                        </h4>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" th:text="${{item.blogSimple}}">Lorem
                                                    ipsum
                                                    dolor坐立不安，精力充沛，精力充沛，使劳苦而又有些事要做eiusmod。</font>
                                            </font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- technology-right -->
            <div class="col-md-3 technology-right">
                <div class="blo-top1">
                    <div class="tech-btm">
                        <div class="search-1">
                            <form action="#" method="post">
                                <input type="search" name="Search" value="Search" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search';}" required="">
                                <input type="submit" value=" ">
                            </form>
                        </div>
                        <h4>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">最近的帖子 </font>
                            </font>
                        </h4>

                        <!--右最近编辑-->
                        <div th:include="web/webinclude :: right-top"></div>

                        <div th:include="web/webinclude :: right-button"></div>

                        <p class="info">
                            新闻工作者并不仅仅报道新闻：他们的观点臆断和冷漠态度在呈现给大众的画面中也扮演着角色
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- technology-right -->
        </div>
    </div>

    <div th:include="web/webinclude :: footer"></div>

    <div th:include="web/webinclude :: copyright"></div>

    <script th:inline="javascript">
        $(document).ready(function () {
            var message = [[${blogs}]];
            console.log(message);
        })
    </script>
</body>

</html>