<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="web/webinclude :: header('盐途之声')"/>
    <link rel="stylesheet" type="text/css" href="css/component.css" th:href="@{/web/css/component.css}"/>
    <script src="js/modernizr.custom.js" th:href="@{/web/js/modernizr.custom.js}"></script>
</head>


<body>
    <div class="header" id="ban">
        <div class="container">
            <div class="head-left">
                <div class="header-search">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
                                                                          aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="text" name="Search" placeholder="搜索...">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><input type="submit" value="发送"></font>
                                </font>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="header_right">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">切换导航</font>
								</font>
							</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div th:include="web/webinclude :: nav"></div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>

                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--start-main-->
    <div th:include="web/webinclude :: title"></div>
    <!-- banner -->

    <div class="banner-1">
    </div>
    <!-- technology-left -->
    <div class="technology">
        <div class="container">
            <div class="col-md-9 technology-left">
                <div class="music">
                    <div class="latest">
                        <h2 class="w3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Blog of Music</font>
                            </font>
                        </h2>
                        <div class="tip-grids">
                            <div class="col-md-6 tip-grid">
                                <figure class="effect-julia">
                                    <img src="images/m5.jpg" alt="">

                                </figure>
                            </div>
                            <div class="col-md-6 tip-grid-right">
                                <div class="tip-gd-left">
                                    <h4>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">音乐推荐</font>
                                        </font>
                                    </h4>
                                    <ul>
                                        <li>
                                            <a href="https://ifish.fun/">鱼声音乐>></a>
                                            <span>
												<a href="https://ifish.fun/">鱼声音乐精选，纯音乐分享，风格倾向后摇、电子、古典、新世纪、小清新等，适合睡觉、发呆、冥想、放松、运动等场景,歌曲源自日常收集;个人博客,定期纯音乐精选,提供免费论文搜索下载工具</a>
											</span>
                                        </li>
                                        <li>
                                            <a href="https://www.jammyfm.com/">果酱音乐>></a>
                                            <span>
												<a href="https://www.jammyfm.com/">果酱音乐是中国领先的音乐新媒体,为您提供最新音乐资讯、演出视频、摇滚、民谣、流行音乐、电音、HipHop等资讯,最新音乐在线听、推荐好听的歌曲、经典老歌、网络歌曲。果酱音乐网站,为好音乐发声。
												</a>
											</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="effect-grid">
                        <h3 class="w3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">音乐带给人欢乐</font>
                            </font>
                        </h3>
                        <ul class="grid cs-style-3" th:each="item,iterStat : ${blogs}">
                            <li>
                                <a href="" th:href="@{'/web/singlepage?blogId='+${{item.blogId}}}">
                                    <figure>
                                        <img src="images/m1.jpg" th:src="${{item.blogPicture}}" alt="img02">
                                        <figcaption style="background: #97a0b3">
                                            <h4 style="color: #1c94c4;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"
                                                          th:text="${{item.blogTitle}}">音乐</font>
                                                </font>
                                            </h4>
                                        </figcaption>
                                    </figure>
                                </a>
                                <div class="clearfix"></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- technology-right -->
            <div class="col-md-3 technology-right">

                <div class="blo-top1">
                    <div class="tech-btm">
                        <div class="search-1">
                            <form action="#" method="post">
                                <input type="search" name="Search" value="Search" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search';}" required="">
                                <input type="submit" value=" ">
                            </form>
                        </div>
                        <h4>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">最近的帖子 </font>
                            </font>
                        </h4>
                        <!--右最近编辑-->
                        <div th:include="web/webinclude :: right-top"></div>
                        <div th:include="web/webinclude :: right-button"></div>

                        <p>
                            新闻热点都只是媒体制造的，众人只是受愚跟风围观幸乐的对象。
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- technology-right -->
        </div>
    </div>
    <div th:include="web/webinclude :: footer"></div>

    <div th:include="web/webinclude :: copyright"></div>
</body>

</html>