<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="web/webinclude :: header('盐途之声')"/>
</head>

<body>
	<div class="header" id="ban">
		<div class="container">
			<div class="head-left">
				<div class="header-search">
					<div class="search">
						<input class="search_box" type="checkbox" id="search_box">
						<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
								aria-hidden="true"></span></label>
						<div class="search_form">
							<form action="#" method="post">
								<input type="text" name="Search" placeholder="Search...">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;"><input type="submit" value="发送"></font>
								</font>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="header_right">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div th:include="web/webinclude :: nav" ></div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
				<ul>
					<li><a href="#"> </a></li>
					<li><a href="#" class="pin"> </a></li>
					<li><a href="#" class="in"> </a></li>
					<li><a href="#" class="be"> </a></li>

					<li><a href="#" class="vimeo"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--start-main-->
	<div th:include="web/webinclude :: title" ></div>
	<!-- banner -->

	<div class="banner-1">

	</div>

	<!-- technology-left -->
	<div class="technology">
		<div class="container">
			<div class="col-md-9 technology-left">
				<div class="agileinfo">

					<h2 class="w3">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">单页</font>
						</font>
					</h2>
					<div class="single">
						<img src="images/sing-1.jpg" th:src="${{blog.blogPicture}}" class="img-responsive" alt="">
						<div class="b-bottom">
							<h5 class="top">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;" th:text="${{blog.blogTitle}}">最终结果是什么</font>
								</font>
							</h5>
							<p class="sub">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;" th:utext="${{blog.blogContent}}">Lorem
										Ipsum只是印刷和排版行业的伪文本。LoremIpsum一直是该行业的标准伪文本，Lorem
										Ipsum只是印刷和排版行业的伪文本。LoremIpsum只是印刷和排版行业的伪文本自Lorem以来，Ipsum一直是行业的标准伪文本，自1500年代以来，Ipsum一直是行业的标准伪文本。
									</font>
								</font>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}">8月01日 </font>
								</font><a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">0 </font>
									</font>
								</a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">56 </font>
									</font>
								</a>
							</p>

						</div>
					</div>


					<div class="response">
						<h4>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">回应</font>
							</font>
						</h4>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img src="images/sin1.jpg" th:src="@{/web/images/sin1.jpg}" class="img-responsive" alt="">
								</a>
							</div>
							<div class="media-body response-text-right">
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，可以使您熟识，有许多可用的Lorem
											Ipsum段落，sed do eiusmod tempor indicidunt ut Labore et dolore magna aliqua。
										</font>
									</font>
								</p>
								<ul>
									<li>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">2016年6月21日</font>
										</font>
									</li>
									<li><a href="#">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">回复</font>
											</font>
										</a></li>
								</ul>
								<div class="media response-info">
									<div class="media-left response-text-left">
										<a href="#">
											<img src="images/sin2.jpg" th:src="@{/web/images/sin2.jpg}" class="img-responsive" alt="">
										</a>
									</div>
									<div class="media-body response-text-right">
										<p>
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">Lorem ipsum
													dolor坐下来，可以使您熟识，有许多可用的Lorem Ipsum段落，sed do eiusmod tempor indicidunt
													ut Labore et dolore magna aliqua。</font>
											</font>
										</p>
										<ul>
											<li>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">2016年7月17日</font>
												</font>
											</li>
											<li><a href="#">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">回复</font>
													</font>
												</a></li>
										</ul>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img src="images/sin1.jpg" th:src="@{/web/images/sin1.jpg}" class="img-responsive" alt="">
								</a>
							</div>
							<div class="media-body response-text-right">
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，可以使您熟识，有许多可用的Lorem
											Ipsum段落，sed do eiusmod tempor indicidunt ut Labore et dolore magna aliqua。
										</font>
									</font>
								</p>
								<ul>
									<li>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">2016年7月22日</font>
										</font>
									</li>
									<li><a href="#">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">回复</font>
											</font>
										</a></li>
								</ul>
								<div class="media response-info">
									<div class="media-left response-text-left">
										<a href="#">
											<img src="images/sin2.jpg" th:src="@{/web/images/sin2.jpg}" class="img-responsive" alt="">
										</a>
									</div>
									<div class="media-body response-text-right">
										<p>
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">Lorem ipsum
													dolor坐下来，可以使您熟识，有许多可用的Lorem Ipsum段落，sed do eiusmod tempor indicidunt
													ut Labore et dolore magna aliqua。</font>
											</font>
										</p>
										<ul>
											<li>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">2016年8月1日</font>
												</font>
											</li>
											<li><a href="#">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">回复</font>
													</font>
												</a></li>
										</ul>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="coment-form">
						<h4>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">发表您的评论</font>
							</font>
						</h4>
						<form action="#" method="post">
							<input type="text" value="Name " name="name" onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Name';}" required="">
							<input type="email" value="Email" name="email" onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<input type="text" value="Website" name="websie" onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Website';}" required="">
							<textarea onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Your Comment...';}"
								required="">Your Comment...</textarea>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;"><input type="submit" value="提交评论"></font>
							</font>
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- technology-right -->
			<div class="col-md-3 technology-right">
				<div class="blo-top1">
					<div class="tech-btm">
						<div class="search-1">
							<form action="#" method="post">
								<input type="search" name="Search" value="Search" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Search';}" required="">
								<input type="submit" value=" ">
							</form>
						</div>
						<h4>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">热门帖子 </font>
							</font>
						</h4>
						<!--右最近编辑-->
						<div th:include="web/webinclude :: right-top"></div>
						<div class="insta">
							<h4>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">Instagram的</font>
								</font>
							</h4>
							<ul>

								<li><a href="singlepage.html"><img src="images/t1.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/m1.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/f1.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/m2.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/f2.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/t2.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/f3.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/t3.jpg" class="img-responsive"
											alt=""></a></li>
								<li><a href="singlepage.html"><img src="images/m3.jpg" class="img-responsive"
											alt=""></a></li>
							</ul>
						</div>

						<p>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">恶作剧，虚伪等。</font>
								<font style="vertical-align: inherit;">在vix scripta patrioque scribentur，在pro</font>
							</font>
						</p>
						<div class="twt">

							<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
								class="twitter-hashtag-button twitter-hashtag-button-rendered twitter-tweet-button"
								title="Twitter Tweet Button"
								src="https://platform.twitter.com/widgets/tweet_button.b7de008f493a5185d8df1aedd62d77c6.en.html#button_hashtag=TwitterStories&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fp.w3layouts.com%2Fdemos%2Fduplex%2Fweb%2F&amp;size=l&amp;time=1467721486626&amp;type=hashtag"
								style="position: static; visibility: visible; width: 166px; height: 28px;"
								data-hashtag="TwitterStories"></iframe>
							<script>
								! function (d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0],
										p = /^http:/.test(d.location) ? 'http' : 'https';
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = p + '://platform.twitter.com/widgets.js';
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, 'script', 'twitter-wjs');
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- technology-right -->
		</div>
	</div>


	<div th:include="web/webinclude :: footer"></div>

	<div th:include="web/webinclude :: copyright"></div>
	<script>
		$(document).ready(function () {
			// $.ajax({
			// 	url: "web/singlepage/10", // url where to submit the request
			// 	type: "GET", // type of action POST || GET
			// 	success: function (result) {
			// 		//console.log(result);
			// 		let data;
			// 		try {
			// 			data = checkResultAndGetData(result);
			// 		} catch (error) {
			// 			alert(JSON.stringify(error));
			// 			return;
			// 		}
			//
			// 		//console.log(data);
			// 		if (data == null) {
			// 			return;
			// 		}
			// 	},
			// 	error: function (xhr, resp, text) {
			// 		console.log(xhr, resp, text);
			// 	}
			// });

		})
	</script>


</body>

</html>