<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="web/webinclude :: header('盐途之声')"/>
</head>


<body>
    <div class="header" id="ban">
        <div class="container">
            <div class="head-left">
                <div class="header-search">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
                                                                          aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="text" name="Search" placeholder="Search...">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><input type="submit" value="发送"></font>
                                </font>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_right">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div th:include="web/webinclude :: nav"></div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>

                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--start-main-->
    <div th:include="web/webinclude :: title"></div>
    <!-- banner -->

    <div class="banner-1">

    </div>

    <!-- technology-left -->
    <div class="technology">
        <div class="container">
            <div class="col-md-9 technology-left">
                <div class="blog">
                    <h2 class="w3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">旅行</font>
                        </font>
                    </h2>
                    <div class="blog-grids1" th:each="item,iterStat : ${travels}">
                        <div class="col-md-6 blog-grid" th:if="${iterStat.index}%2==0">
                            <div class="blog-grid-left1">
                                <a href="singlepage.html"><img src="images/t3.jpg" th:src="${{item.blogPicture}}"
                                                               alt=" " class="img-responsive"></a>
                            </div>
                            <div class="blog-grid-right1">
                                <a href="singlepage.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"
                                              th:text="${{item.blogTitle}}">cupidatat</font>
                                    </font>
                                </a>
                                <h4>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"
                                              th:text="${#dates.format(item.createTime, 'yyyy年MM月dd日')}">2016年7月27日</font>
                                    </font>
                                </h4>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;" th:text="${{item.blogSimple}}">想要在铜杯小药囊中受到痛苦的人一直在批评Duis
                                            et
                                            dolore大逃亡并没有产生任何愉悦感。</font>
                                    </font>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="more m1">
                                <a class="btn effect6" href="singlepage.html"
                                   th:href="@{'/web/singlepage?blogId='+${{item.blogId}}}">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">学到更多</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 blog-grid" th:if="${iterStat.index}%2==1">
                            <div class="blog-grid-left1">
                                <a href="singlepage.html"><img src="images/t3.jpg" th:src="${{item.blogPicture}}"
                                                               alt=" " class="img-responsive"></a>
                            </div>
                            <div class="blog-grid-right1">
                                <a href="singlepage.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"
                                              th:text="${{item.blogTitle}}">cupidatat</font>
                                    </font>
                                </a>
                                <h4>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"
                                              th:text="${#dates.format(item.createTime, 'yyyy年MM月dd日')}">2016年7月27日</font>
                                    </font>
                                </h4>
                                <p>
                                    <font style="vertical-align: inherit;" th:text="${{item.blogSimple}}">
                                        <font style="vertical-align: inherit;">想要在铜杯小药囊中受到痛苦的人一直在批评Duis et
                                            dolore大逃亡并没有产生任何愉悦感。</font>
                                    </font>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="more m1">
                                <a class="btn effect6" href="singlepage.html"
                                   th:href="@{'/web/singlepage?blogId='+${{item.blogId}}}">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">学到更多</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <nav class="paging">
                        <ul class="pagination pagination-lg">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">&lt;&lt;</font>
										</font>
									</span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">&gt;&gt;</font>
										</font>
									</span></a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- technology-right -->
            <div class="col-md-3 technology-right">
                <div class="blo-top1">
                    <div class="tech-btm">
                        <div class="search-1">
                            <form action="#" method="post">
                                <input type="search" name="Search" value="Search" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search';}" required="">
                                <input type="submit" value=" ">
                            </form>
                        </div>
                        <h4>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">热门帖子 </font>
                            </font>
                        </h4>
                        <!--右最近编辑-->
                        <div th:include="web/webinclude :: right-top"></div>

                        <div class="insta">
                            <h4>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Instagram的</font>
                                </font>
                            </h4>
                            <ul>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/t1.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/m1.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/f1.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/m2.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/f2.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/t2.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/f3.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/t3.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                                <li><a href="singlepage.html" th:href="@{/web/singlepage}"><img src="images/m3.jpg"
                                                                                                class="img-responsive"
                                                                                                alt=""></a></li>
                            </ul>
                        </div>

                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">我几乎没有走出困境，是新常态，并且爱他们。</font>
                                <font style="vertical-align: inherit;">但是几乎没有要写的东西就被写好并放下了，但是对于</font>
                            </font>
                        </p>
                        <div class="twt">

                            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                                    class="twitter-hashtag-button twitter-hashtag-button-rendered twitter-tweet-button"
                                    title="Twitter Tweet Button"
                                    src="https://platform.twitter.com/widgets/tweet_button.b7de008f493a5185d8df1aedd62d77c6.en.html#button_hashtag=TwitterStories&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fp.w3layouts.com%2Fdemos%2Fduplex%2Fweb%2F&amp;size=l&amp;time=1467721486626&amp;type=hashtag"
                                    style="position: static; visibility: visible; width: 166px; height: 28px;"
                                    data-hashtag="TwitterStories"></iframe>
                            <script>
                                !function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0],
                                        p = /^http:/.test(d.location) ? 'http' : 'https';
                                    if (!d.getElementById(id)) {
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = p + '://platform.twitter.com/widgets.js';
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                }(document, 'script', 'twitter-wjs');
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <!-- technology-right -->
        </div>
    </div>


    <div th:include="web/webinclude :: footer"></div>

    <div th:include="web/webinclude :: copyright"></div>

    <script th:inline="javascript">
        $(document).ready(function () {
            var travels = [[${travels}]];
            console.log(travels);
        })
    </script>
</body>

</html>