<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('留言板评论互动列表')"/>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>评论标题：</label>
								<input type="text" name="commentsTitle"/>
							</li>
							<li>
								<label>评论类型：</label>
								<select name="commentsType" th:with="type=${@dict.getType('sys_comments_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
									        th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>评论内容：</label>
								<input type="text" name="commentsContent"/>
							</li>
							<li>
								<label>评论目标用户编号：</label>
								<input type="text" name="commentsToId"/>
							</li>
							<li>
								<label>评论用户编号：</label>
								<input type="text" name="commentsFromId"/>
							</li>
							<li>
								<label>评论状态：</label>
								<select name="status" th:with="type=${@dict.getType('sys_news_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
									        th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="admin:comments:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()"
				   shiro:hasPermission="admin:comments:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
				   shiro:hasPermission="admin:comments:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="admin:comments:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer"/>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('admin:comments:edit')}]];
		var removeFlag = [[${@permission.hasPermi('admin:comments:remove')}]];
		var commentsTypeDatas = [[${@dict.getType('sys_comments_type')}]];
		var statusDatas = [[${@dict.getType('sys_news_status')}]];
		var prefix = ctx + "admin/comments";

		$(function () {
			var options = {
				url: prefix + "/list",
				createUrl: prefix + "/add",
				updateUrl: prefix + "/edit/{id}",
				removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				modalName: "留言板评论互动",
				pagination: true,
				escape: false,
				columns: [{
					checkbox: true
				},
					{
						field: 'commentsId',
						title: '评论内容主键',
						visible: false
					},
					{
						field: 'commentsTitle',
						title: '评论标题'
					},
					{
						field: 'commentsType',
						title: '评论类型',
						formatter: function (value, row, index) {
							return $.table.selectDictLabel(commentsTypeDatas, value);
						}
					},
					{
						field: 'commentsContent',
						title: '评论内容'
					},
					{
						field: 'commentsToId',
						title: '评论目标用户编号'
					},
					{
						field: 'commentsFromId',
						title: '评论用户编号'
					},
					{
						field: 'fromName',
						title: '回复用户名称'
					},
					{
						field: 'toName',
						title: '评论用户名称'
					},
					{
						field: 'status',
						title: '评论状态',
						formatter: function (value, row, index) {
							return $.table.selectDictLabel(statusDatas, value);
						}
					},
					{
						field: 'remark',
						title: '备注'
					},
					{
						title: '操作',
						align: 'center',
						formatter: function (value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.commentsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
							actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.commentsId + '\')"><i class="fa fa-remove"></i>删除</a>');
							return actions.join('');
						}
					}]
			};
			$.table.init(options);
		});
	</script>
</body>
</html>