<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('新闻发布列表')"/>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>新闻标题：</label>
								<input type="text" name="newsTitle"/>
							</li>
							<li>
								<label>新闻类型：</label>
								<select name="newsType" th:with="type=${@dict.getType('sys_news_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
									        th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>新闻外链：</label>
								<input type="text" name="newsUrl"/>
							</li>
							<li>
								<label>新闻状态：</label>
								<select name="status" th:with="type=${@dict.getType('sys_news_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
									        th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>新闻时间：</label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间"
								       name="params[beginNewsTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间"
								       name="params[endNewsTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="admin:news:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()"
				   shiro:hasPermission="admin:news:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
				   shiro:hasPermission="admin:news:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="admin:news:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer"/>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('admin:news:edit')}]];
		var removeFlag = [[${@permission.hasPermi('admin:news:remove')}]];
		var newsTypeDatas = [[${@dict.getType('sys_news_type')}]];
		var statusDatas = [[${@dict.getType('sys_news_status')}]];
		var prefix = ctx + "admin/news";

		$(function () {
			var options = {
				url: prefix + "/list",
				createUrl: prefix + "/add",
				updateUrl: prefix + "/edit/{id}",
				removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				modalName: "新闻发布",
				pagination: true,
				escape: false,
				columns: [{
					checkbox: true
				},
					{
						field: 'newsId',
						title: '新闻ID',
						visible: false
					},
					{
						field: 'newsTitle',
						title: '新闻标题'
					},
					{
						field: 'newsType',
						title: '新闻类型',
						formatter: function (value, row, index) {
							return $.table.selectDictLabel(newsTypeDatas, value);
						}
					},
					{
						field: 'newsContent',
						title: '新闻内容',
						visible: false
					},
					{
						field: 'newsPicture',
						title: '新闻封面',
						formatter: function (value, row, index) {
							// 图片预览（注意：如存储在本地直接获取数据库路径，如有配置context-path需要使用ctx+路径）
							// 如：/profile/upload/2019/08/08/3b7a839aced67397bac694d77611ce72.png
							if (index % 2 == 0) {
								return $.table.imageView(value, "400", "400");
							} else {
								return $.table.imageView(value, "400", "400");
							}
						}
					},
					{
						field: 'newsUrl',
						title: '新闻外链'
					},
					{
						field: 'status',
						title: '新闻状态',
						formatter: function (value, row, index) {
							return $.table.selectDictLabel(statusDatas, value);
						}
					},
					{
						field: 'newsTime',
						title: '新闻时间'
					},
					{
						field: 'remark',
						title: '备注'
					},
					{
						title: '操作',
						align: 'center',
						formatter: function (value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.newsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
							actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.newsId + '\')"><i class="fa fa-remove"></i>删除</a>');
							return actions.join('');
						}
					}]
			};
			$.table.init(options);
		});
	</script>
</body>
</html>